
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch Episode mob-psycho-100-iii - Episode 1 - mob-psycho-100-iii - AnimeDex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="Watch Episode 2 - AnimeDex">
    <meta name="description" content="Watch Episode 2 free anime online and it's latest episodes on AnimeDex. We provide free anime online experience without ads, signing up or downloading.">
    <meta name="keywords" content="AnimeDex, hindi dub, hindi sub, english dub, watch anime online, free anime, anime stream, anime hd, english sub, kissanime, gogoanime, animeultima, 9anime, 123animes, animefreak, vidstreaming, gogo-stream, animekisa, zoro.to, gogoanime.run, animefrenzy, animekisa">
    <meta name="charset" content="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Language" content="en">
    <meta property="og:title" content="Watch Episode 2 - AnimeDex">
    <meta property="og:description" content="Watch Episode 2 free anime online and it's latest episodes on AnimeDex. We provide free anime online experience without ads, signing up or downloading.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="AnimeDex">
    <meta property="og:url" content="">
    <meta itemprop="image" content="http://animefrenzy.net/theme/6anime/assets/images/6anime.png?ver=AnimeFrenzyNET.2">
    <meta property="og:image" content="http://animefrenzy.net/theme/6anime/assets/images/6anime.png?ver=AnimeFrenzyNET.2">
    <meta property="og:image:secure_url" content="http://animefrenzy.net/theme/6anime/assets/images/6anime.png?ver=AnimeFrenzyNET.2">
    <meta property="og:image:width" content="650">
    <meta property="og:image:height" content="350">
    <meta property="twitter:title" content="Watch Episode 2 - AnimeDex">
    <meta property="twitter:description" content="Watch Episode 2 free anime online and it's latest episodes on AnimeDex. We provide free anime online experience without ads, signing up or downloading.">
    <meta property="twitter:url" content="/anime/">
    <meta property="twitter:card" content="summary">
    <meta name="apple-mobile-web-app-status-bar" content="#202125">
    <meta name="theme-color" content="#202125">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/static/css/episode.css" rel="stylesheet">

</head>

<body>
    <header id="head-div">
        <div id="title1">
            <a href="/"><img src="/static/header.png" alt="AnimeDex"></a>
        </div>
        <div id="search-div">
            <form action="/search" method='GET'>
                <input type="text" name="query" id="query" placeholder="Search Anime..." required>
                <button type="submit"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </header>


    <section id="vid-sec">
        <div id="vid-div">

            <div id="video">
                <iframe id="AnimeDexFrame" src="/embed?url=https://cache.387e6278d8e06083d813358762e0ac63.com/222918642152.m3u8&amp;title=mob-psycho-100-iii - Episode 1" style="border:0px #ffffff none;" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" allowfullscreen></iframe>

            </div>

        </div>

        <div id="server_main">
            <div class="status">
                <div class="scontent">
                    You are watching <b>Episode mob-psycho-100-iii - Episode 1</b>If current server doesn't work please try other servers beside.
                </div>
            </div>

            <div class="server">
                <div class="stitle">
                    <i class="fa fa-closed-captioning"></i>SUB:
                </div>

                <div class="slist">
                    
                    <div class="sitem">
                        <a class="sobtn sactive" onclick="selectServer(this)" data-value="/embed?url=https://cache.387e6278d8e06083d813358762e0ac63.com/222918642152.m3u8&title=mob-psycho-100-iii - Episode 1">Server 1</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://wwwx18.gogocdn.stream/videos/hls/jMBkesKSwiaJXrvE7fTFvQ/1667486627/193287/59bc3252f06389c41d228b5fe54d4d80/ep.1.1664988208.m3u8&title=mob-psycho-100-iii - Episode 1">Server 2</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://streamsss.net/e/zndjkjyjm4o2&title=mob-psycho-100-iii - Episode 1">Server 3</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://fembed9hd.com/v/y6rm5ueyxx3-4gl&title=mob-psycho-100-iii - Episode 1">Server 4</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://dood.wf/e/nns89q6bxvj7&title=mob-psycho-100-iii - Episode 1">Server 5</a>
                    </div>
                </div>
            </div>
        <div class="server sd">
                <div class="stitle">
                    <i class="fa fa-microphone-alt"></i>DUB:
                </div>

                <div class="slist">
                    <div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://wwwx12.gogocdn.stream/videos/hls/GTjZX6FhqHfjLzfEDyIdfg/1667486630/193291/c75b53df1efee62023652c10db576233/ep.1.1664999565.m3u8&title=mob-psycho-100-iii - Episode 1">Server 1</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://wwwx12.gogocdn.stream/videos/hls/IdMsTH7ig-W401O_dnhBGw/1667486632/193291/c75b53df1efee62023652c10db576233/ep.1.1664999565.m3u8&title=mob-psycho-100-iii - Episode 1">Server 2</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://streamsss.net/e/dwaqdl2shmjr&title=mob-psycho-100-iii - Episode 1">Server 3</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://fembed9hd.com/v/m6z2nu5qw0g0e72&title=mob-psycho-100-iii - Episode 1">Server 4</a>
                    </div><div class="sitem">
                        <a class="sobtn" onclick="selectServer(this)" data-value="/embed?url=https://dood.wf/e/7pinsr09m901&title=mob-psycho-100-iii - Episode 1">Server 5</a>
                    </div>
                    
                </div>
            </div>
        
        </div>
        <div class="selector link-data">
            
        </div>
    </section>
    <hr>
    <footer>
        <div>
            <a href="https://github.com/TechShreyash" target="_blank">MADE WITH <i class="fa fa-heart pulse"></i>BY TECH SHREYASH</a> <a href="https://TechZBots.t.me" target="_blank">(@TechZBots)</a>
        </div>
    </footer>
    <hr>
    <script>
        function selectServer(btn) {
            const buttons = document.getElementsByClassName('sobtn')
            const iframe = document.getElementById('AnimeDexFrame')
            iframe.src = btn.getAttribute('data-value')
            for (let i = 0; i < buttons.length; i++) {
                buttons[i].className = "sobtn";
            }
            btn.className = "sobtn sactive"
        }
    </script>
</body>

</html>