
<!DOCTYPE html>
<html lang="en">

<head>
    <title>AnimeDex - Watch High Quality Anime Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="AnimeDex - Watch High Quality Anime Online" />
    <meta name="description"
        content="AnimeDex - Watch High Quality Anime Online. You can watch anime online free in HD without Ads. Best place for free find and one-click anime." />
    <meta name="keywords"
        content="anime dex, animedex, watch anime online, free anime, anime stream, anime hd, english sub, kissanime, gogoanime, animeultima, 9anime, 123animes, animefreak, vidstreaming, gogo-stream, animekisa, zoro.to, gogoanime.run, animedex, animekisa" />
    <meta name="charset" content="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="en" />
    <meta property="og:title" content="AnimeDex - Watch High Quality Anime Online">
    <meta property="og:description"
        content="AnimeDex - Watch High Quality Anime Online. You can watch anime online free in HD without Ads. Best place for free find and one-click anime.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="AnimeDex">
    <meta property="og:url" content="http://animedex.live/">
    <meta itemprop="image" content="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/home.png">
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/home.png">
    <meta property="og:image:secure_url"
        content="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/home.png">
    <meta property="og:image:width" content="650">
    <meta property="og:image:height" content="350">
    <meta property="twitter:title" content="AnimeDex - Watch High Quality Anime Online">
    <meta property="twitter:description"
        content="Trending page for anime on AnimeDex. You can watch anime online free in HD without Sign up. Best place for free find and one-click anime.">
    <meta property="twitter:url" content="">
    <meta property="twitter:card" content="summary">
    <meta name="apple-mobile-web-app-status-bar" content="#202125">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="../static/css/home.css" rel="stylesheet">
</head>

<body>
    <header id="head-div">
        <div id="title1">
            <a href="/"><img src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/header.png"
                    alt="AnimeDex"></a>
        </div>
        <div id="search-div">
            <form action="/search" method='GET'>
                <input type="text" name="query" id="query" placeholder="Search Anime..." required>
                <button type="submit"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </header>

    <section>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#1 Spotlight</p>
                    <h1>Mob Psycho 100 III</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Action</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">The third season of <i>Mob Psycho 100</i>. <br><br>
The appearance of a divine tree and new religion turns Mob and Reigen's city upside down!<br><br>
(Source: Crunchyroll)
</p>

                    <div id="watchh">
                        <a href="/episode/Mob%20Psycho%20100%20III/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/Mob%20Psycho%20100%20III" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/Mob%20Psycho%20100%20III"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/140439-r9SRh0q0UgX1.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#2 Spotlight</p>
                    <h1>BLUELOCK</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Sports</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">After a disastrous defeat at the 2018 World Cup, Japan's team struggles to regroup. But what's missing? An absolute Ace Striker, who can guide them to the win. The Japan Football Union is hell-bent on creating a striker who hungers for goals and thirsts for victory, and who can be the decisive instrument in turning around a losing match...and to do so, they've gathered 300 of Japan's best and brightest youth players. Who will emerge to lead the team...and will they be able to out-muscle and out-ego everyone who stands in their way? <br>
<br>
(Source: Kodansha USA)<br>
<br>
<i>Note: The first episode received a pre-screening at the AnimagiC convention on August 6, 2022.</i></p>

                    <div id="watchh">
                        <a href="/episode/BLUELOCK/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/BLUELOCK" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/BLUELOCK"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/137822-c5BPEeXDEgtW.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#3 Spotlight</p>
                    <h1>Akiba Maid War</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Drama</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">Akihabara is the center of the universe for the coolest hobbies and quirkiest amusements. In the spring of 1999, bright-eyed Nagomi Wahira moves there with dreams of joining a maid café. She quickly dons an apron at café Ton Tokoton, AKA the Pig Hut. But adjusting to life in bustling Akihabara isn’t as easy as serving tea and delighting customers. Paired with the dour Ranko who never seems to smile, Nagomi must do her best to elevate the Pig Hut over all other maid cafés vying for top ranking. Along the way she’ll slice out a place for herself amid the frills and thrills of life at the Pig Hut. Just when Nagomi’s dreams are within her grasp, she discovers not everything is as it seems amid the maid cafés of Akihabara.<br>
<br>
(Source: HIDIVE)</p>

                    <div id="watchh">
                        <a href="/episode/Akiba%20Maid%20War/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/Akiba%20Maid%20War" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/Akiba%20Maid%20War"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/151379-9adZHzFGBTpV.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#4 Spotlight</p>
                    <h1>BOCCHI THE ROCK!</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Slice of Life</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">Hitori Gotou is a high school girl who starting learning to playing the guitar because she dreams of being in a band, but she's so shy that she hasn't made a single friend. However, her dream might come true after she meets Nijika Ijichi, a girl who plays the drums and is looking for a new guitarist for her band.</p>

                    <div id="watchh">
                        <a href="/episode/BOCCHI%20THE%20ROCK%21/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/BOCCHI%20THE%20ROCK%21" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/BOCCHI%20THE%20ROCK%21"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/130003-Ht7myAxpdNPo.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#5 Spotlight</p>
                    <h1>Chainsaw Man</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Horror</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">Denji is a teenage boy living with a Chainsaw Devil named Pochita. Due to the debt his father left behind, he has been living a rock-bottom life while repaying his debt by harvesting devil corpses with Pochita.<br><br>
One day, Denji is betrayed and killed. As his consciousness fades, he makes a contract with Pochita and gets revived as "Chainsaw Man" — a man with a devil's heart.<br>
<br>
(Source: Crunchyroll)</p>

                    <div id="watchh">
                        <a href="/episode/Chainsaw%20Man/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/Chainsaw%20Man" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/Chainsaw%20Man"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/127230-lf01ya5ny8aH.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#6 Spotlight</p>
                    <h1>SPY x FAMILY Cour 2</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Comedy</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">The second half of <i>SPYxFAMILY</i>.</p>

                    <div id="watchh">
                        <a href="/episode/SPY%20x%20FAMILY%20Cour%202/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/SPY%20x%20FAMILY%20Cour%202" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/SPY%20x%20FAMILY%20Cour%202"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/142838-tynuN00wxmKO.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#7 Spotlight</p>
                    <h1>The Eminence in Shadow</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Comedy</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">Some people just aren’t suited to playing the part of the flashy, in-your-face hero or the dastardly, mustache-twirling villain with larger-than-life panache. Instead, they operate in the shadows and pull the strings of society through wit and cleverness. That’s the role Cid wants to play when he’s transported to another world. Cid spins a yarn or three and becomes the unlikely leader of the underground Shadow Garden organization that fights against a menacing cult (which he totally made up). However, there’s a catch even his wild imagination didn’t see coming: the cult he concocted actually exists, and they’re beyond displeased that his power fantasy just got in the way of their evil plans!<br>
<br>
(Source: HIDIVE)</p>

                    <div id="watchh">
                        <a href="/episode/The%20Eminence%20in%20Shadow/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/The%20Eminence%20in%20Shadow" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/The%20Eminence%20in%20Shadow"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/130298-9yxFlFvKMwRk.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#8 Spotlight</p>
                    <h1>Urusei Yatsura (2022)</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>RELEASING</span>
                        <span class="cbox cbox1">Romance</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">When an alien race known as the Oni invade Earth, the chronically unlucky and unapologetically lecherous Ataru Moroboshi is selected as humanity’s representative in a duel for the fate of the planet! His opponent is Lum, the Oni’s very pretty princess, and it’s only thanks to Ataru’s unscrupulous behavior that he’s able to scrape out a win in a treacherous game of tag against her. Ataru thinks he’s had his lucky break at last, but when Lum takes a shine to him off the battlefield, the conflict follows him home as Lum invades not only planet Earth, but also the womanizing Ataru’s love life!<br>
<br>
(Source: HIDIVE)</p>

                    <div id="watchh">
                        <a href="/episode/Urusei%20Yatsura%20%282022%29/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/Urusei%20Yatsura%20%282022%29" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/Urusei%20Yatsura%20%282022%29"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/143277-tdi4PEWPbuuB.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#9 Spotlight</p>
                    <h1>Reincarnated as a Sword</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>FINISHED</span>
                        <span class="cbox cbox1">Action</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">Some isekai protagonists are reincarnated as powerful warriors or skilled wizards, but our protagonist was reborn in another life as a sentient sword! He’s taken up by Fran, a desperate girl fleeing evil-doers intent on selling her into slavery. With her new weapon’s help and guidance, she’s able to strike down her captors and secure her freedom. Together, this unconventional master-student duo embark on an epic journey to liberate those in need and exact justice on the cruel of heart.<br>
<br>
(Source: Sentai Filmworks)<br>
<br>
<i>Note: Episode 1 was streamed in advance on September 28, 2022 on AbemaTV. The regular TV broadcast began on October 5, 2022.</i></p>

                    <div id="watchh">
                        <a href="/episode/Reincarnated%20as%20a%20Sword/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/Reincarnated%20as%20a%20Sword" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/Reincarnated%20as%20a%20Sword"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/139587-XFbotQOPcLC4.jpg">
            </div><div class="mySlides fade">
                <div class="data-slider">
                    <p class="spotlight">#10 Spotlight</p>
                    <h1>Arknights: Prelude to Dawn</h1>
                    <div class="extra1">

                        <span class="year"><i class="fa fa-play-circle"></i>ANIME</span>
                        <span class="year year2"><i class="fa fa-calendar"></i>FINISHED</span>
                        <span class="cbox cbox1">Action</span>
                        <span class="cbox cbox2">HD</span>
                    </div>
                    <p class="small-synop">In the land of Terra, natural disasters of unknown causes have been occurring irregularly in many areas. Therefore, the majority of the people, in order to escape those natural disasters, came to live in mobile cities developed over the years. The Originium left behind at the site of such Catastrophes, has led to the rapid progress of civilization due to their immense energy. But it also brought something else with it — an incurable disease called Oripathy.
<br><br>
Because the bodies of those with Oripathy gradually crystalize and become a new source of infection at the time of death, in many countries, the Infected are subject to persecution under regimes of segregation and forced labor. Those who were oppressed by the governments are starting to rebel. Rhodes Island, a pharmaceutical company researching a cure for Oripathy, takes up their arms and starts a conquest trying to save all the people from the disease.
<br><br>
(Source: Official Site, translated, edited)</p>

                    <div id="watchh">
                        <a href="/episode/Arknights%3A%20Prelude%20to%20Dawn/1" class="watch-btn">
                            <i class="fa fa-play-circle"></i> Watch Now
                        </a>
                        <a href="/anime/Arknights%3A%20Prelude%20to%20Dawn" class="watch-btn watch-btn2">
                            <i class="fa fa-info-circle"></i> Details<i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="shado">
                    <a href="/anime/Arknights%3A%20Prelude%20to%20Dawn"></a>
                </div>
                <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/140660-NUPbNxp8Ed2L.jpg">
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </section>

    <section>
        <div class="divox">
            <h2 id="latest">Most Popular</h2>
            <div id="latest2">
                
<a href="/anime/Chainsaw%20Man"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Drama</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx127230-FlochcFsyoF4.png">
                    </div>
                    <div class="la-details">
                        <h3>Chainsaw Man</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/SPY%20x%20FAMILY%20Cour%202"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Slice of Life</div>
                            <div class="dubb dubb2">Ep 13</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx142838-ECZSqfknAqAT.jpg">
                    </div>
                    <div class="la-details">
                        <h3>SPY x FAMILY Cour 2</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/Mob%20Psycho%20100%20III"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Slice of Life</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx140439-qpBzXkvVqSx3.jpg">
                    </div>
                    <div class="la-details">
                        <h3>Mob Psycho 100 III</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/BLUELOCK"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Sports</div>
                            <div class="dubb dubb2">Ep 24</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx137822-4dVWMSHLpGf8.png">
                    </div>
                    <div class="la-details">
                        <h3>BLUELOCK</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/My%20Hero%20Academia%20Season%206"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Comedy</div>
                            <div class="dubb dubb2">Ep 25</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx139630-oc4l8OtJ4tRQ.jpg">
                    </div>
                    <div class="la-details">
                        <h3>My Hero Academia Season 6</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/BLEACH%3A%20Thousand-Year%20Blood%20War"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Action</div>
                            <div class="dubb dubb2">Ep 13</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx116674-p3zK4PUX2Aag.jpg">
                    </div>
                    <div class="la-details">
                        <h3>BLEACH: Thousand-Year Blood War</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/The%20Eminence%20in%20Shadow"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Fantasy</div>
                            <div class="dubb dubb2">Ep 20</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx130298-O7nR1Wrav2dH.jpg">
                    </div>
                    <div class="la-details">
                        <h3>The Eminence in Shadow</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/To%20Your%20Eternity%20Season%202"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Supernatural</div>
                            <div class="dubb dubb2">Ep 20</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx138565-JzvDqH84ILzi.png">
                    </div>
                    <div class="la-details">
                        <h3>To Your Eternity Season 2</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/BOCCHI%20THE%20ROCK%21"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Music</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx130003-5Y8rYzg982sq.png">
                    </div>
                    <div class="la-details">
                        <h3>BOCCHI THE ROCK!</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>RELEASING</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/That%20Time%20I%20Got%20Reincarnated%20as%20a%20Slime%20the%20Movie%3A%20Scarlet%20Bond"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">Fantasy</div>
                            <div class="dubb dubb2">Ep 1</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx139498-DdVASeAj7ag4.jpg">
                    </div>
                    <div class="la-details">
                        <h3>That Time I Got Reincarnated as a Slime the Movie: Scarlet Bond</h3>
                        <div id="extra">
                        <span>ANIME</span>
                        <span class="dot"></span>
                        <span>FINISHED</span>                        
                        </div>
                    </div>
                </div></a>

            </div>
        </div>
    </section>
    <section>
        <div class="divox">
            <h2 id="latest">Recent Release</h2>
            <div id="latest2">
                
<a href="/anime/spy-x-family-part-2"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/spy-x-family-part-2-1664394580.png">
                    </div>
                    <div class="la-details">
                        <h3>Spy x Family Part 2</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/uzaki-chan-wa-asobitai-double"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/uzaki-chan-wa-asobitai-double-1664394785.png">
                    </div>
                    <div class="la-details">
                        <h3>Uzaki-chan wa Asobitai! Double</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/yuusha-party-wo-tsuihou-sareta-beast-tamer-saikyoushu-no-nekomimi-shoujo-to-deau"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/yuusha-party-wo-tsuihou-sareta-beast-tamer-saikyoushu-no-nekomimi-shoujo-to-deau-1664395206.png">
                    </div>
                    <div class="la-details">
                        <h3>Yuusha Party wo Tsuihou sareta Beast Tamer, Saikyoushu no Nekomimi Shoujo to Deau</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/noumin-kanren-no-skill-bakka-agetetara-nazeka-tsuyoku-natta"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/noumin-kanren-no-skill-bakka-agetetara-nazeka-tsuyoku-natta-1664389499.png">
                    </div>
                    <div class="la-details">
                        <h3>Noumin Kanren no Skill bakka Agetetara Nazeka Tsuyoku Natta.</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/mairimashita-iruma-kun-3rd-season"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 11</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/mairimashita-iruma-kun-3rd-season.png">
                    </div>
                    <div class="la-details">
                        <h3>Mairimashita! Iruma-kun 3rd Season</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/boku-no-hero-academia-6th-season"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/boku-no-hero-academia-6th-season-1664387814.png">
                    </div>
                    <div class="la-details">
                        <h3>Boku no Hero Academia 6th Season</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/shadowverse-flame"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 37</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/shadowverse-flame.png">
                    </div>
                    <div class="la-details">
                        <h3>Shadowverse Flame</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/kinnikuman"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 109</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/kinnikuman.png">
                    </div>
                    <div class="la-details">
                        <h3>Kinnikuman</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/pokemon-2019"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 136</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/pokemon-2019.png">
                    </div>
                    <div class="la-details">
                        <h3>Pokemon (2019)</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/obey-me-season-2"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 11</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/obey-me-season-2.png">
                    </div>
                    <div class="la-details">
                        <h3>Obey Me! Season 2</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/flame-of-recca-final-burning"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 1</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/flame-of-recca-final-burning.png">
                    </div>
                    <div class="la-details">
                        <h3>Flame of Recca: Final Burning</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/lupin-zero"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 2</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/lupin-zero.png">
                    </div>
                    <div class="la-details">
                        <h3>Lupin Zero</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/hoshi-no-samidare"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 23</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/hoshi-no-samidare.png">
                    </div>
                    <div class="la-details">
                        <h3>Hoshi no Samidare</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/zegapain-adp"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 1</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/zegapain-adp.png">
                    </div>
                    <div class="la-details">
                        <h3>Zegapain ADP</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/arknights-reimei-zensou"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 8</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/arknights-reimei-zensou-1666983946.png">
                    </div>
                    <div class="la-details">
                        <h3>Arknights: Reimei Zensou</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/seiken-densetsu-legend-of-mana-the-teardrop-crystal"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 11</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/seiken-densetsu-legend-of-mana-the-teardrop-crystal-1664394322.png">
                    </div>
                    <div class="la-details">
                        <h3>Seiken Densetsu: Legend of Mana - The Teardrop Crystal</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/peter-grill-to-kenja-no-jikan-super-extra-uncensored"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 10</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/peter-grill-to-kenja-no-jikan-super-extra-uncensored.png">
                    </div>
                    <div class="la-details">
                        <h3>Peter Grill to Kenja no Jikan: Super Extra (Uncensored)</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/koukyoushihen-eureka-seven-hi-evolution-3-eureka"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 1</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/koukyoushihen-eureka-seven-hi-evolution-3-eureka.png">
                    </div>
                    <div class="la-details">
                        <h3>Koukyoushihen Eureka Seven Hi-Evolution 3: Eureka</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/wan-sheng-jie-japanese-dub"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 6</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/wan-sheng-jie-japanese-dub.png">
                    </div>
                    <div class="la-details">
                        <h3>Wan Sheng Jie (Japanese Dub)</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

<a href="/anime/uchi-no-shishou-wa-shippo-ga-nai"><div class="poster la-anime">
                    <div id="shadow1" class="shadow">
                            <div class="dubb">SUB</div>
                            <div class="dubb dubb2">Ep 12</div>
                        </div>
                        <div id="shadow2" class="shadow">
                        <img class="lzy_img" src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading.gif" data-src="https://gogocdn.net/cover/uchi-no-shishou-wa-shippo-ga-nai-1662694084.png">
                    </div>
                    <div class="la-details">
                        <h3>Uchi no Shishou wa Shippo ga Nai</h3>
                        <div id="extra">
                        <span>Latest SUB</span>
                        <span class="dot"></span>
                        <span>HD</span>                        
                        </div>
                    </div>
                </div></a>

            </div>
        </div>
    </section>
    <div id="load"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/YouTube_loading_symbol_3_%28transparent%29.gif" alt="Loading..."></div>
    <hr>
    <footer>
        <div>
            <a href="https://github.com/TechShreyash" target="_blank">MADE WITH <i class="fa fa-heart pulse"></i>BY TECH
                SHREYASH</a> <a href="https://TechZBots.t.me" target="_blank">(@TechZBots)</a>
        </div>
    </footer>
    <hr>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imageObserver = new IntersectionObserver((entries, imgObserver) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        const lazyImage = entry.target
                        lazyImage.src = lazyImage.dataset.src
                    }
                })
            });
            const arr = document.querySelectorAll('img.lzy_img')
            arr.forEach((v) => {
                imageObserver.observe(v);
            })
        })
    </script>
    
</body>

</html>