<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="icon" type="image/x-icon"
        href="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/favicon.ico">
    <title>AnimeDex VideoPlayer</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/js/player.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/css/video.min.css">
    <style type="text/css">
        body {
            background-color: #000;
        }

        #player {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
        }
    </style>
</head>

<body>
    <div id="player"></div>

    <script type="text/javascript">
        const playerInstance = jwplayer("player");
        playerInstance.setup({
            title: "{{ title }}",
            description: "You're Watching",
            file: "{{ m3u8 }}",
            label: "hls P",
            image: "https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/cover.jpg",
            TRACKS
            autostart: false,
            abouttext: "AnimeDex",
            aboutlink: "/",
            logo: {
                file: "https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/headerr.png"
            },
            skin: {
                name: "netflix"
            },
            displaytitle: true,
            displaydescription: true,
            stretching: 'fill',
            height: '100%',
            width: '100%'
        });

        let player_url = "{{ m3u8 }}";
        player = playerInstance;
        player.on('error', function () {
            debounce = setTimeout(function () {
                if (errors < 5) {
                    errors += 1;
                    isRun = false;
                    player.load([{
                        file: player_url
                    }]);
                    player.play();
                }
            }.bind(this), 1000);
        }.bind(this));

        let position = 0;
        let isRun = true;
        let errors = 0;

        player.on('firstFrame', function () {
            player.seek(position);
            isRun = true;
        });

        function saveDur() {
            if (isRun == true) {
                position = parseInt(this.player.getPosition());
                setTimeout(saveDur, 1000);
            }
        };
        saveDur();
    </script>
</body>

</html>